##=============================================================================
## named parameter test template
##=============================================================================
select
	count(distinct(IMSI))
from 
	EVENT_E_SGEH_ERR_RAW
where
    #GET_DATE_RANGE_LOCAL()